<?xml version="1.0" encoding="UTF-8"?>
<!-- Logging configuration for DSpace command line tools -->
<Configuration strict='true'
               xmlns='http://logging.apache.org/log4j/2.0/config' packages="io.sentry.log4j2">

    <Properties>
        <!-- Default log file directory for DSpace.
             NOTE: The value of 'dspace.dir' will be replaced by its value in
             your configuration when DSpace is installed. -->
        <Property name='log.dir'>${log4j:configParentLocation}/../log</Property>

        <!-- Log level for dspace authentication system (org.dspace.authenticate.*) -->
        <Property name='loglevel.dspace.authentication'>${sys:log_level_auth:-INFO}</Property>
        <!-- Log level for all DSpace-specific code (org.dspace.*) -->
        <Property name='loglevel.dspace'>${sys:log_level:-INFO}</Property>
        <!-- Log level for other third-party tools/APIs used by DSpace -->
        <Property name='loglevel.other'>${sys:log_level:-INFO}</Property>

        <!-- Log level for other third-party tools/APIs used by DSpace
             Possible values (from most to least info):
	     DEBUG, INFO, WARN, ERROR, FATAL -->
        <Property name='loglevel.other'>INFO</Property>
    </Properties>

    <Appenders>
        <!-- A1 is for most DSpace activity -->
        <Appender name='A1'
                  filePattern="${log.dir}/dspace.log-%d{yyyy-MM-dd}"
                  type='RollingFile'
                  fileName='${log.dir}/dspace.log'

        >
            <!-- NOTE: The %equals patterns are providing a default value of "unknown" if "correlationID" or
                 "requestID" are not currently set in the ThreadContext. -->
            <Layout type='PatternLayout'
                    pattern='%d %-5p %equals{%X{correlationID}}{}{unknown} %equals{%X{requestID}}{}{unknown} %c @ %m%n'/>
            <policies>
                <policy type='TimeBasedTriggeringPolicy'>yyyy-MM-dd</policy>
            </policies>
            <!-- Sample deletion policy:  keep last 30 archived files
            <DefaultRolloverStrategy>
                <Delete basePath='${log.dir}'>
                    <IfFileName glob='dspace.log-*'/>
                    <IfAccumulatedFileCount exceeds='30'/>
                </Delete>
            </DefaultRolloverStrategy>
            -->
            <DefaultRolloverStrategy>
                <Delete basePath='${log.dir}'>
                    <IfFileName glob='dspace.log-*'/>
                    <IfAccumulatedFileCount exceeds='${logging.server.retention-accumulated-to-keep}'/>
                </Delete>
            </DefaultRolloverStrategy>
        </Appender>

        <!-- A2 is for the embedded solr (during test) -->
        <Appender name='A2'
                  filePattern="${log.dir}/solr.log-%d{yyyy-MM-dd}"
                  type='RollingFile'
                  fileName='${log.dir}/solr.log'>
            <Layout type='PatternLayout'
                    pattern='%m%n'/>
            <policies>
                <policy type='TimeBasedTriggeringPolicy'>yyyy-MM-dd</policy>
                <!-- Sample deletion policy:  keep last 30 archived files
                <Delete basePath='${log.dir}'>
                            <IfFileName glob='dspace.log-*'/>
                            <IfAccumulatedFileCount exceeds='30'/>
                </Delete>
                -->
            </policies>
            <DefaultRolloverStrategy>
                <Delete basePath='${log.dir}'>
                    <IfFileName glob='solr.log-*'/>
                    <IfAccumulatedFileCount exceeds='${retention-accumulated-to-keep}'/>
                </Delete>
            </DefaultRolloverStrategy>
        </Appender>

        <!-- A3 is for OAI Harvester -->
        <Appender name='A3'
                  filePattern="${log.dir}/harvester_details.log-%d{yyyy-MM-dd}"
                  type='RollingFile'
                  fileName='${log.dir}/harvester_details.log'>
            <Layout type='PatternLayout'
                    pattern='%m%n'/>
            <policies>
                <policy type='TimeBasedTriggeringPolicy'>yyyy-MM-dd</policy>
                <!-- Sample deletion policy:  keep last 30 archived files
                <Delete basePath='${log.dir}'>
                            <IfFileName glob='dspace.log-*'/>
                            <IfAccumulatedFileCount exceeds='30'/>
                </Delete>
                -->
            </policies>
            <DefaultRolloverStrategy>
                <Delete basePath='${log.dir}'>
                    <IfFileName glob='harvester_details.log-*'/>
                    <IfAccumulatedFileCount exceeds='${logging.server.retention-accumulated-to-keep}'/>
                </Delete>
            </DefaultRolloverStrategy>
        </Appender>

        <!-- A4 is for Harvest -->
        <Appender name='A4'
                  filePattern="${log.dir}/harvester.log-%d{yyyy-MM-dd}"
                  type='RollingFile'
                  fileName='${log.dir}/harvester.log'>
            <Layout type='PatternLayout'
                    pattern='%m%n'/>
            <policies>
                <policy type='TimeBasedTriggeringPolicy'>yyyy-MM-dd</policy>
                <!-- Sample deletion policy:  keep last 30 archived files
                <Delete basePath='${log.dir}'>
                            <IfFileName glob='dspace.log-*'/>
                            <IfAccumulatedFileCount exceeds='30'/>
                </Delete>
                -->
            </policies>
            <DefaultRolloverStrategy>
                <Delete basePath='${log.dir}'>
                    <IfFileName glob='harvester.log-*'/>
                    <IfAccumulatedFileCount exceeds='${logging.server.retention-accumulated-to-keep}'/>
                </Delete>
            </DefaultRolloverStrategy>
        </Appender>

        <!-- A6 is for Packager batch ingest -->
        <Appender name='A6'
                  filePattern="${log.dir}/batch-packager.log-%d{yyyy-MM-dd}"
                  type='RollingFile'
                  fileName='${log.dir}/batch-packager.log'>
            <Layout type='PatternLayout' pattern='%d %-5p :: %m%n'/>
            <policies>
                <policy type='TimeBasedTriggeringPolicy'>yyyy-MM-dd</policy>
            </policies>
            <DefaultRolloverStrategy>
                <Delete basePath='${log.dir}'>
                    <IfFileName glob='batch-packager.log-*'/>
                    <IfAccumulatedFileCount exceeds='${logging.server.retention-accumulated-to-keep}'/>
                </Delete>
            </DefaultRolloverStrategy>
        </Appender>

        <!-- A7 is for the custom metadata enhancer -->
        <Appender name='A7'
                filePattern="${log.dir}/item-enhancer.log%d{yyyy-MM-dd}"
                type='RollingFile'
                fileName='${log.dir}/item-enhancer.log'>
            <Layout type='PatternLayout' pattern='%d %-5p -- %c :: %m%n'/>
            <policies>
                <policy type='TimeBasedTriggeringPolicy'>yyyy-MM-dd</policy>
            </policies>
            <DefaultRolloverStrategy>
                <Delete basePath='${log.dir}'>
                    <IfFileName glob='item-enhancer.log-*'/>
                    <IfAccumulatedFileCount exceeds='${logging.server.retention-accumulated-to-keep}'/>
                </Delete>
            </DefaultRolloverStrategy>
        </Appender>

        <!-- A8 is for authentication process -->
        <Appender name='A8'
                  filePattern="${log.dir}/authentication.log%d{yyyy-MM-dd}"
                  type='RollingFile'
                  fileName='${log.dir}/item-enhancer.log'>
            <Layout type='PatternLayout' pattern='%d %-5p -- %c :: %m%n'/>
            <policies>
                <policy type='TimeBasedTriggeringPolicy'>yyyy-MM-dd</policy>
            </policies>
            <DefaultRolloverStrategy>
                <Delete basePath='${log.dir}'>
                    <IfFileName glob='authentication.log-*'/>
                    <IfAccumulatedFileCount exceeds='${logging.server.retention-accumulated-to-keep}'/>
                </Delete>
            </DefaultRolloverStrategy>
        </Appender>
        <Sentry name='Sentry' dsn='${sys:SENTRY_DSN}' minimumBreadcrumbLevel='INFO' minimumEventLevel='ERROR'/>
        <Appender name='Console' type='Console'>
            <Layout type='PatternLayout' pattern='%d %-5p %c @ %m%n'/>
        </Appender>
    </Appenders>

    <Loggers>

        <!-- Most parts of DSpace -->
        <Logger name='org.dspace'
                level='${loglevel.dspace}'
                additivity='false'>
            <AppenderRef ref='A1'/>
            <AppenderRef ref='Sentry'/>
            <AppenderRef ref='Console'/>
        </Logger>

        <!-- Embedded SOLR (for test) -->
        <Logger name='org.apache.solr'
                level='INFO'
                additivity='false'>
            <AppenderRef ref='A2'/>
        </Logger>

        <!-- OAI Harvester -->
        <Logger name='org.dspace.harvest.OAIHarvester'
                level='TRACE'
                additivity='false'>
            <AppenderRef ref='A3'/>
        </Logger>

        <!-- Harvest -->
        <Logger name='org.dspace.app.harvest.Harvest'
                level='TRACE'
                additivity='false'>
            <AppenderRef ref='A4'/>
        </Logger>

        <!-- Batch Ingester -->
        <Logger name='org.dspace.uclouvain.administer.RabbitMQPackager'
                level='TRACE'
                additivity='false'>
            <AppenderRef ref='A6'/>
        </Logger>

        <!-- Custom Item Enhancer -->
        <Logger name='org.dspace.uclouvain.itemEnhancer'
                level='INFO'
                additivity='false'>
            <AppenderRef ref='A7'/>
        </Logger>

        <!-- Authentication -->
        <Logger name="org.dspace.authenticate"
                level="${loglevel.dspace.authentication}"
                additivity="false">
            <AppenderRef ref="A8"/>
        </Logger>

        <!--
             Block beanutil logging except on exceptions
             https://issues.apache.org/jira/browse/BEANUTILS-477
        -->
        <Logger name='org.apache.commons.beanutils'
                level='ERROR'/>
        <!--
             Block Hibernate DefaultLoadEventListeer logging except on exceptions
             https://github.com/DSpace/DSpace/issues/8883
        -->
        <Logger name='org.hibernate.event.internal.DefaultLoadEventListener'
                level='ERROR'/>
        <!-- Block services logging except on exceptions -->
        <Logger name='org.dspace.kernel'
                level='ERROR'/>
        <Logger name='org.dspace.services'
                level='ERROR'/>
        <Logger name='org.dspace.servicemanager'
                level='WARN'/>
        <Logger name='org.dspace.providers'
                level='ERROR'/>
        <Logger name='org.dspace.utils'
                level='ERROR'/>

        <!-- Block passwords from being exposed in Axis logs. (DEBUG exposes passwords in Basic Auth) -->
        <Logger name='org.apache.axis.handlers.http.HTTPAuthHandler'
                level='INFO'/>
        <!-- Anything not a part of DSpace -->
        <Root level='${loglevel.other}'>
            <AppenderRef ref='A1'/>
        </Root>
    </Loggers>
</Configuration>
