## Ignore the MVN compiled output directories from version tracking
target/

## Ignore tags index files created by Exuberant Ctags
tags

## Ignore project files created by Eclipse
.settings/
/bin/
.project
.classpath
.checkstyle

## Ignore project files created by IntelliJ IDEA
*.iml
*.ipr
*.iws
.idea/
overlays/

## Ignore project files created by NetBeans
nbproject/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

## Igncore project files create by VSCode
## Edit at https://www.gitignore.io/?templates=visualstudiocode
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.vsix
**/.history

## Ignore all *.properties file in root folder, EXCEPT build.properties (the default)
## KEPT FOR BACKWARDS COMPATIBILITY WITH 5.x (build.properties is now replaced with local.cfg)
/*.properties
!/build.properties

# Ignore a local.cfg file in root folder, if it exists
/local.cfg
/local.*.cfg
# Also ignore it under dspace/config
/dspace/config/local.cfg
/dspace/config/local.*.cfg
!/dspace/config/local.cfg.EXAMPLE

# Ignore archives files - Containing potential RGPD data
/scripts/archives/*

##Mac noise
.DS_Store

##Ignore JRebel project configuration
rebel.xml


## Ignore jenv configuration
.java-version


## Ignore python cache and module files 
__pycache__/
*.py[cod]


## Ignore logs files
**/*.log


# Ignore TestApplication
TestApp.java