Handle = dc.identifier.uri
Title = dc.title
Language = dc.language.iso-639-2
Year = dc.date.issued
Session = masterthesis.session
Authors = group.dc-contributor-author
Advisors = group.dc-contributor-advisor
Abstract = dc.description.abstract
Degree code = masterthesis.degree.code
Degree label = masterthesis.degree.label
Faculty code = masterthesis.faculty.code
Faculty name = masterthesis.faculty.name
Access Right = dcterms.accessRights