
TY  - THES
AU  - @dc.contributor.author@
TI  - @dc.title@
PY  - @virtual.date.dc-date-issued.YYYY@
LA  - @dc.language.iso@
AB  - @dc.description.abstract@
K1  - @dc.subject@
UR  - @virtual.handleLink@
ED  - @dc.contributor.advisor@
M3  - @masterthesis.degree.label@
ER  -