TY  - @virtual.mapConverter.risTypes.dc-type-maintype@
AU  - @dc.contributor.author@
TI  - @dc.title@
PY  - @virtual.date.dc-date-issued.YYYY@
LA  - @dc.language.iso@
AB  - @dc.description.abstract@
K1  - @dc.subject@
DO  - @dc.identifier.doi@
UR  - @virtual.handleLink@
SP  - @publication.numberOfPages@
ET  - @publication.editionStatement@
PB  - @publication.editor.name@
CY  - @publication.editor.location@
SN  - @dc.identifier.isbn@
T2  - @publication.host.title@
ED  - @publication.host.authors@
SP  - @publication.host.pages@
SN  - @publication.host.isbn@
JF  - @dc.relation.journal@
VL  - @publication.serial.volume@
IS  - @publication.serial.issue@
SP  - @publication.serial.pages@
SN  - @publication.serial.issn@
SN  - @publication.serial.eissn@
T2  - @publication.conference.name@
CY  - @publication.conference.location@
Y2  - @virtual.conference-dates@
PB  - @dc.contributor.submitter@
CY  - @crispatent.patentOffice@
SN  - @dc.identifier.ipc@
SN  - @dc.identifier.elca@
SN  - @dc.identifier.patentID@
SN  - @dc.identifier.priorityNumber@
ED  - @dc.contributor.advisor@
Y2  - @dissertation.defenseDate@
M3  - @dissertation.degree.name@
ER  -