#------------------------------------------------------------#
#-----------------Access type configuration -----------------#
#------------------------------------------------------------#
bitstream.upload.default.accesstype.enabled = true
bitstream.upload.default.accesstype = openaccess

#---------------------------------------------------------#
#----------------- License configuration -----------------#
#---------------------------------------------------------#
bitstream.upload.default.license.enabled = false
bitstream.upload.default.license.url = https://creativecommons.org/licenses/by/4.0/