#--------------------------------------------------------------------------------------------#
#------------------------------- ITEM COMMENTS CONFIGURATION --------------------------------#
#--------------------------------------------------------------------------------------------#
# These configs are used to configure comments about any item of the repository              #
# Content could be stored in different ways:                                                 #
#   1) into an XML bitstream into the item                                                   #
#   2) as separated DSpace item with `dspace.entity-type=Comment` with relation between item #
#      and comments (hasComment / isCommentFor)                                              #
#   3) into a separated table of the Dspace database                                         #
# To know which implementation is used, search about the `commentService` bean               #
#--------------------------------------------------------------------------------------------#

# XML BITSTREAM STORAGE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# In which bundle the comment bitstream could be found. If not specified, "COMMENT" is the default value
# comments.bitstream.bundle.location=COMMENT
# Specify the bitstream name where the comments are stored (related to `comments.bitstream.bundle.location`)
# comments.bitstream.name.location=Comments.xml

