#---------------------------------------------------------------#
#------------------COMMENTS CONFIGURATIONS----------------------#
#---------------------------------------------------------------#
# Configuration properties related to comments management       #
#---------------------------------------------------------------#

# determine to which group members comments are visible
# comments.feature.authorized-group = dummy
comments.feature.authorized-group = librarian
comments.feature.authorized-group = manager

# determine which bundle name are eligible for automatic comment creation when owned bitstream changed
# if affected bundle is defined, all bitstream changes could generate automatic comment creation
comments.automatic-creation.affected-bundles = ORIGINAL