#---------------------------------------------------------------#
#------------------COMMENTS CONFIGURATIONS----------------------#
#---------------------------------------------------------------#
# Configuration properties related to comments management       #
#---------------------------------------------------------------#

# determine to which group members comments are visible
# comments.feature.authorized-group = dummy
comments.feature.authorized-group = librarian

