#---------------------------------------------------------------#
#-------------------CSV EXPORT CONFIGURATIONS-------------------#
#---------------------------------------------------------------#
# Configuration properties used to pretty export CSV data from  #
# a search result                                               #
#---------------------------------------------------------------#

# HEADING ORDER -------------------------------------------------
#   Define order of the column for a CSV export depending on metadata field
csv.export.heading.order.1 = id
csv.export.heading.order.2 = dc.date.created
csv.export.heading.order.3 = dc.date.issued
csv.export.heading.order.4 = dc.date.validated
csv.export.heading.order.5 = dc.contributor.author
csv.export.heading.order.6 = authors.email.official
csv.export.heading.order.7 = authors.email
csv.export.heading.order.8 = authors.identifier.noma
csv.export.heading.order.9 = authors.identifier.fgs
csv.export.heading.order.10 = authors.institution.name
csv.export.heading.order.11 = dc.contributor.advisor
csv.export.heading.order.12 = advisors.email
csv.export.heading.order.13 = advisors.institution.name
csv.export.heading.order.14 = dc.title
csv.export.heading.order.15 = dc.subject
csv.export.heading.order.16 = dc.description.abstract
csv.export.heading.order.17 = dc.language.iso-639-2
csv.export.heading.order.18 = masterthesis.session
csv.export.heading.order.19 = masterthesis.degree.code
csv.export.heading.order.20 = masterthesis.degree.label
csv.export.heading.order.21 = masterthesis.faculty.code
csv.export.heading.order.22 = masterthesis.faculty.name
csv.export.heading.order.23 = masterthesis.rootdegree.code
csv.export.heading.order.24 = masterthesis.rootdegree.label
csv.export.heading.order.25 = dcterms.accessRights
csv.export.heading.order.26 = dc.identifier.uri
csv.export.heading.order.27 = collection
csv.export.heading.order.28 = dc.type
csv.export.heading.order.29 = dc.identifier.fedora
csv.export.heading.order.30 = dc.description.tag
csv.export.heading.order.31 = dspace.entityType
csv.export.heading.order.32 = masterthesis.changerequest.history

# HEADING TRANSLATION -------------------------------------------
#   Specify "translation" of a metadata field to a human readable heading name
#   The value of the configuration key must be "metadataField::translatedText" (use '::' as separator)
csv.export.heading.translation.1 = dc.title::title
csv.export.heading.translation.2 = dc.subject::keywords
csv.export.heading.translation.3 = authors.email::authors personal email
csv.export.heading.translation.4 = authors.email.official::authors institutional email
csv.export.heading.translation.5 = dc.language.iso-639-2::language
csv.export.heading.translation.6 = masterthesis.session::session
csv.export.heading.translation.7 = dc.date.created::creation date
csv.export.heading.translation.8 = dc.date.validated::validation date
csv.export.heading.translation.9 = dc.date.issued::defence date
csv.export.heading.translation.10 = dc.contributor.author::author name
csv.export.heading.translation.11 = dc.contributor.advisor::supervisor name
csv.export.heading.translation.12 = authors.identifier.noma::NOMA
csv.export.heading.translation.13 = authors.identifier.fgs::FGS
csv.export.heading.translation.14 = authors.institution.name::author institution name
csv.export.heading.translation.15 = advisors.email::supervisor email
csv.export.heading.translation.16 = advisors.institution.name::supervisor institution name
csv.export.heading.translation.17 = dc.description.abstract::abstract
csv.export.heading.translation.18 = masterthesis.degree.code::degree code
csv.export.heading.translation.19 = masterthesis.degree.label::degree name
csv.export.heading.translation.20= masterthesis.faculty.code::faculty code
csv.export.heading.translation.21 = masterthesis.faculty.name::faculty name
csv.export.heading.translation.22 = masterthesis.rootdegree.code::master degree code
csv.export.heading.translation.23 = masterthesis.rootdegree.label::master degree name
csv.export.heading.translation.24 = dcterms.accessRights::access rights
csv.export.heading.translation.25 = dc.identifier.uri::handle
csv.export.heading.translation.26 = dc.type::document type