# Scheduled task configuration
#   The purpose of this task is to detect items to snapshot, detecting changes
#   This task mainly run by a SpringBoot scheduled method, but can also run by a CLI
item-snapshot.scheduled-task.enabled = true
item-snapshot.scheduled-task.cron = 0 20 0 * * ?
#item-snapshot.scheduled-task.items-limit = 1000
item-snapshot.scheduled-task.notify-by = EMAIL

# Defines all metadata fields that an item snapshot should tracked
#   every occurrence of tracked metadata will be performed
#   don't worry if the metadata field doesn't exists for an item
item-snapshot.tracked-metadata = dc.contributor.author
item-snapshot.tracked-metadata = dc.contributor.advisor
item-snapshot.tracked-metadata = dc.title
item-snapshot.tracked-metadata = dc.type.maintype
item-snapshot.tracked-metadata = dc.type.subtype
item-snapshot.tracked-metadata = dc.date.issued
item-snapshot.tracked-metadata = publication.serial.peerReviewed
item-snapshot.tracked-metadata = oairecerif.affiliation.orgunit
item-snapshot.tracked-metadata = oairecerif.affiliation.orgunitDepartment
item-snapshot.tracked-metadata = publication.publicationStatus
item-snapshot.tracked-metadata = funding.organization
item-snapshot.tracked-metadata = funding.program

item-snapshot.email-notification.subject = [DIAL.pr] Changes detected
item-snapshot.email-notification.subject.fr = [DIAL.pr] Modification détectée
item-snapshot.email-notification.reply-to = noreply@uclouvain.be
