# Defines all metadata fields that an item snapshot should tracked
#   every occurrence of tracked metadata will be performed
#   don't worry if the metadata field doesn't exists for an item
item-snapshot.tracked-metadata = dc.contributor.author
item-snapshot.tracked-metadata = dc.contributor.advisor
item-snapshot.tracked-metadata = dc.title
item-snapshot.tracked-metadata = dc.type.maintype
item-snapshot.tracked-metadata = dc.date.issued
item-snapshot.tracked-metadata = publication.serial.peerReviewed