#------------------------------------------------------------------#
#----------------- Bitstream direct download ----------------------#
#------------------------------------------------------------------#
uclouvain.crypto.password = change_me
uclouvain.crypto.salt = qGfUBgjQxpoI0vMwdUZP
#------------------------------------------------------------------#
#------------------Metadata Field Configuration--------------------#
#------------------------------------------------------------------#
uclouvain.global.metadata.license.field = dc.rights.license
uclouvain.global.metadata.license.default = https://creativecommons.org/licenses/by/4.0/
uclouvain.global.metadata.accesstype.field = dcterms.accessRights

#------------------------------------------------------------------#
#-------------- Packager ingestion configuration ------------------#
#------------------------------------------------------------------#
mets.dspaceSIP.ingest.preserveManifest=true
mets.dspaceSIP.ingest.manifestBitstreamFormat=XML
# Bitstream metadata extractor stylesheet
uclouvain.ingester.bitstreamMetadataExtractor.stylesheet = crosswalks/bitstream-metadata.xsl

#------------------------------------------------------------------#
#----------- Resource policy endpoint configuration ---------------#
#------------------------------------------------------------------#
uclouvain.resource_policy.accepted_bundles = ORIGINAL
# Could add more bundle by adding more occurrence of this key:
# ex: uclouvain.resource_policy.accepted_bundles = METADATA

#------------------------------------------------------------------#
#------------------ Submission configuration ----------------------#
#------------------------------------------------------------------#
# This key needs to be set to false here to avoid errors in the frontend when fetching it.
# If not defined here, the config key will be considered has not found and it will throw a 404 HTTP error.
duplicate.enable = false
# Same here
contentreport.enabled = false

#------------------------------------------------------------------#
#-------------- UCLouvain consumers configuration -----------------#
#------------------------------------------------------------------#
event.consumer.licensegenerator.class = org.dspace.uclouvain.consumer.LicenseConsumer
event.consumer.licensegenerator.filters = Bitstream+All

event.consumer.accesstype.class = org.dspace.uclouvain.consumer.AccessTypeConsumer
event.consumer.accesstype.filters = Bitstream+All

event.consumer.authoritymetadataenhancer.class = org.dspace.uclouvain.itemEnhancer.consumer.UCLouvainItemEnhancerConsumer
event.consumer.authoritymetadataenhancer.filters = Item+All

#------------------------------------------------------------------#
#------------- Community/Collection configuration -----------------#
#------------------------------------------------------------------#
core.authorization.collection-mapping.solr.limit = 10000

#------------------------------------------------------------------#
#--------------- Role restriction configuration -------------------#
#------------------------------------------------------------------#
uclouvain.feature.roles.manager = manager
uclouvain.feature.roles.manager = reviewer

#------------------------------------------------------------#
#----------------- Metadata Enhancer Poller -----------------#
#------------------------------------------------------------#
# Define the delay in ms between each executions of the poller.
uclouvain-item-enhancer-poller.delay = 30000
# Enable the metadata enhancer poller.
uclouvain-item-enhancer-poller.enabled = false
# Define the limit of entry to pull from the database.
uclouvain-item-enhancer-poller.limit = 500

#------------------------------------------------------------#
#----------------Full-text ingest config---------------------#
#------------------------------------------------------------#

# Disable full-text ingest max chars limit. This limits the max chars that can be extracted from a file.
textextractor.max-chars = -1

# Disable Solr full-text indexing limit. This limits the max chars that can be indexed in "fulltext" key of Solr.
discovery.solr.fulltext.charLimit=-1
