#------------------------------------------------------------------#
#----------------- Bitstream direct download ----------------------#
#------------------------------------------------------------------#
uclouvain.crypto.password = change_me
uclouvain.crypto.salt = qGfUBgjQxpoI0vMwdUZP
#------------------------------------------------------------------#
#------------------Exportation specific setting--------------------#
#------------------------------------------------------------------#
uclouvain.export-person-bibliography.allowed-groups=Manager
#------------------------------------------------------------------#
#------------------Metadata Field Configuration--------------------#
#------------------------------------------------------------------#
uclouvain.global.metadata.license.field = dc.rights.license
uclouvain.global.metadata.license.default = https://creativecommons.org/licenses/by/4.0/
uclouvain.global.metadata.accesstype.field = dcterms.accessRights

uclouvain.global.metadata.journal.title.field = dc.title
uclouvain.global.metadata.journal.issn.field = dc.identifier.issn
uclouvain.global.metadata.journal.eissn.field = dc.identifier.eissn
uclouvain.global.metadata.journal.publisherName.field = dc.publisher
uclouvain.global.metadata.journal.publisherLocation.field = dc.publisher.location
uclouvain.global.metadata.journal.peerReviewed.field = journal.peerReviewed
uclouvain.global.metadata.journal.statusCode.field = journal.statusCode

uclouvain.global.metadata.orgUnit.acronym.field = oairecerif.acronym
uclouvain.global.metadata.orgUnit.displayAcronym.field = oairecerif.acronym.display
uclouvain.global.metadata.orgUnit.isSelectable.field = organization.isSelectable
uclouvain.global.metadata.orgUnit.title.field = dc.title
uclouvain.global.metadata.orgUnit.type.field = dc.type
uclouvain.global.metadata.orgUnit.weight.field = organization.weight

uclouvain.global.metadata.person.emailOfficial.field = person.email.official
uclouvain.global.metadata.person.entityName.field = person.affiliation.department
uclouvain.global.metadata.person.institutionName.field = person.affiliation.institution
uclouvain.global.metadata.person.institutionalID.field = person.identifier.fgs
uclouvain.global.metadata.person.OrcidID.field = person.identifier.orcid

uclouvain.global.metadata.publication.additionalAuthors.field = dc.contributor.etal
uclouvain.global.metadata.publication.authorName.field = dc.contributor.author
uclouvain.global.metadata.publication.authorEmail.field = authors.email
uclouvain.global.metadata.publication.authorOrcid.field = authors.identifier.orcid
uclouvain.global.metadata.publication.authorInstitution.field = authors.institution.code
uclouvain.global.metadata.publication.authorRole.field = authors.role
uclouvain.global.metadata.publication.authorFgs.field = authors.identifier.fgs
uclouvain.global.metadata.publication.advisorEmail.field = advisors.email
uclouvain.global.metadata.publication.abstract.field = dc.description.abstract
uclouvain.global.metadata.publication.collectionName.field = publication.collection.name
uclouvain.global.metadata.publication.collectionNumber.field = publication.collection.number
uclouvain.global.metadata.publication.collectionIssn.field = publication.collection.issn
uclouvain.global.metadata.publication.conferenceEndDate.field = publication.conference.endDat
uclouvain.global.metadata.publication.conferenceIsAbstract.field = publication.isAbstract
uclouvain.global.metadata.publication.conferenceLocation.field = publication.conference.location
uclouvain.global.metadata.publication.conferenceName.field = publication.conference.name
uclouvain.global.metadata.publication.conferenceStartDate.field = publication.conference.startDate
uclouvain.global.metadata.publication.dateIssued.field = dc.date.issued
uclouvain.global.metadata.publication.dissertationDefenseDate.field = dissertation.defenseDate
uclouvain.global.metadata.publication.doiIdentifier.field = dc.identifier.doi
uclouvain.global.metadata.publication.editorName.field = publication.editor.name
uclouvain.global.metadata.publication.editorLocation.field = publication.editor.location
uclouvain.global.metadata.publication.entityDepartmentName.field = oairecerif.affiliation.orgunitDepartment
uclouvain.global.metadata.publication.entityInstitutionName.field = oairecerif.affiliation.orgunit
uclouvain.global.metadata.publication.fundingOrganization.field = funding.organization
uclouvain.global.metadata.publication.hostIsbn.field = publication.host.isbn
uclouvain.global.metadata.publication.hostPages.field = publication.host.pages
uclouvain.global.metadata.publication.hostTitle.field = publication.host.title
uclouvain.global.metadata.publication.hostType.field = publication.host.type
uclouvain.global.metadata.publication.hostYear.field = publication.host.dateIssued
uclouvain.global.metadata.publication.identifierISBN.field = dc.identifier.isbn
uclouvain.global.metadata.publication.journalDateIssued.field = publication.serial.dateIssued
uclouvain.global.metadata.publication.journalEissn.field = publication.serial.eissn
uclouvain.global.metadata.publication.journalIssn.field = publication.serial.issn
uclouvain.global.metadata.publication.journalIssue.field = publication.serial.issue
uclouvain.global.metadata.publication.journalPages.field = publication.serial.pages
uclouvain.global.metadata.publication.journalPeerReviewed.field = publication.serial.peerReviewed
uclouvain.global.metadata.publication.journalTitle.field = dc.relation.journal
uclouvain.global.metadata.publication.journalVolume.field = publication.serial.volume
uclouvain.global.metadata.publication.keyword.field = dc.subject
uclouvain.global.metadata.publication.language.field = dc.language.iso
uclouvain.global.metadata.publication.mainType.field = dc.type.maintype
uclouvain.global.metadata.publication.meshKeyword.field = dc.subject.mesh
uclouvain.global.metadata.publication.publicationStatus.field = publication.publicationStatus
uclouvain.global.metadata.publication.speechStatus.field = publication.speech.status
uclouvain.global.metadata.publication.subType.field = dc.type.subtype
uclouvain.global.metadata.publication.title.field = dc.title


# Default institution for new profiles.
uclouvain.profile.default-institution.acronym = UCLouvain

#------------------------------------------------------------------#
#-------------- Packager ingestion configuration ------------------#
#------------------------------------------------------------------#
mets.dspaceSIP.ingest.preserveManifest=true
mets.dspaceSIP.ingest.manifestBitstreamFormat=XML
# Configure XSLT-driven submission crosswalk for MODS-PR
crosswalk.submission.MODS-PR.stylesheet= crosswalks/mods-pr-submission.xsl
# Bitstream metadata extractor stylesheet
uclouvain.ingester.bitstreamMetadataExtractor.stylesheet = crosswalks/bitstream-metadata.xsl

#------------------------------------------------------------------#
#----------- Resource policy endpoint configuration ---------------#
#------------------------------------------------------------------#
uclouvain.resource_policy.accepted_bundles = ORIGINAL
# Could add more bundle by adding more occurrence of this key:
# ex: uclouvain.resource_policy.accepted_bundles = METADATA

#------------------------------------------------------------------#
#------------------ Submission configuration ----------------------#
#------------------------------------------------------------------#
# This key needs to be set to false here to avoid errors in the frontend when fetching it.
# If not defined here, the config key will be considered has not found and it will throw a 404 HTTP error.
duplicate.enable = false
# Same here
contentreport.enabled = false

#------------------------------------------------------------------#
#-------------- UCLouvain consumers configuration -----------------#
#------------------------------------------------------------------#
event.consumer.licensegenerator.class = org.dspace.uclouvain.consumer.LicenseConsumer
event.consumer.licensegenerator.filters = Bitstream+All

event.consumer.accesstype.class = org.dspace.uclouvain.consumer.AccessTypeConsumer
event.consumer.accesstype.filters = Bitstream+All

event.consumer.authoritymetadataenhancer.class = org.dspace.uclouvain.itemEnhancer.consumer.UCLouvainItemEnhancerConsumer
event.consumer.authoritymetadataenhancer.filters = Item+All

event.consumer.formfieldcleaner.class = org.dspace.uclouvain.consumer.FormFieldCleanerConsumer
event.consumer.formfieldcleaner.filters = Item+All

event.consumer.fillervalueremover.class = org.dspace.uclouvain.consumer.FillerValueRemoverConsumer
event.consumer.fillervalueremover.filters = Item+Modify|Modify_Metadata
# Regex to get the fillers values.
event.consumer.fillervalueremover.fillers = ^\s*(?i)(n\/?a|not specified|no(t|n) applicable)\s*$

event.consumer.dissertationyearextract.class = org.dspace.uclouvain.consumer.DissertationExtractYearConsumer
event.consumer.dissertationyearextract.filters = Item+Modify_Metadata

event.consumer.journaldefaultdeletepolicy.class = org.dspace.uclouvain.consumer.JournalDefaultDeletePolicyConsumer
event.consumer.journaldefaultdeletepolicy.filters = Item+Install
# The group that will be authorized to delete a Journal.
event.consumer.journaldefaultdeletepolicy.group = Journal manager

event.consumer.profilelink.class = org.dspace.uclouvain.consumer.ProfileLinkConsumer
event.consumer.profilelink.filters = Item+Install|Modify|Modify_Metadata

event.consumer.enrichmetadata.class = org.dspace.uclouvain.consumer.EnrichMetadataConsumer
event.consumer.enrichmetadata.filters = Item+Create

event.consumer.defaultauthorrole.class = org.dspace.uclouvain.consumer.DefaultAuthorRoleConsumer
event.consumer.defaultauthorrole.filters = Item+All

event.consumer.defaultserialissued.class = org.dspace.uclouvain.consumer.DefaultSerialYearConsumer
event.consumer.defaultserialissued.filters = Item+Install|Modify|Modify_Metadata

#------------------------------------------------------------------#
#------------- Community/Collection configuration -----------------#
#------------------------------------------------------------------#
core.authorization.collection-mapping.solr.limit = 10000

#------------------------------------------------------------------#
#--------------- Role restriction configuration -------------------#
#------------------------------------------------------------------#
uclouvain.feature.roles.manager = Manager
uclouvain.feature.roles.manager = Doctoral thesis manager

uclouvain.feature.roles.delegator = Delegator

uclouvain.feature.roles.journal-manager = Journal manager

#------------------------------------------------------------#
#----------------- Metadata Enhancer Poller -----------------#
#------------------------------------------------------------#
uclouvain-item-enhancer-poller.delay = 15000
uclouvain-item-enhancer-poller.enabled = true

#------------------------------------------------------------#
#----------------Full-text ingest config---------------------#
#------------------------------------------------------------#
textextractor.max-chars = 50000
discovery.solr.fulltext.charLimit = 50000

#--------------------------------------------#
#-----------------Authority -----------------#
#--------------------------------------------#
uclouvain.authority.authorAuthority.default = 20

#--------------------------------------------#
#------------- External sources -------------#
#--------------------------------------------#
uclouvain.external-source.authors.limit = 20

# -----------------------------------------#
# -------------Email config----------------#
# -----------------------------------------#

uclouvain.default.mail.reply-to = noreply@uclouvain.be
# You can override any email reply-to using the following syntax:
# uclouvain.<email-label>.mail.reply-to = xxx

# Publication notify email
uclouvain.notify_authors.mail.subject = [DIAL.pr] Dépôt de publication / Publication deposit
# Override publication author notification recipiants
# uclouvain.notify_authors.mail.recipients = bibsys@uclouvain.be
uclouvain.notify_authors.mail.metadata = dc.type.maintype
uclouvain.notify_authors.mail.metadata = dc.title
uclouvain.notify_authors.mail.metadata = dc.date.issued
uclouvain.notify_authors.mail.metadata = dc.contributor.author
uclouvain.notify_authors.mail.metadata = dc.description.abstract

# Publication withdraw notify email
uclouvain.notify_withdraw_authors.mail.subject = [DIAL.pr] Publication retirée / Publication withdrawn
uclouvain.notify_withdraw_authors.mail.metadata = dc.type.maintype
uclouvain.notify_withdraw_authors.mail.metadata = dc.title
uclouvain.notify_withdraw_authors.mail.metadata = dc.date.issued
uclouvain.notify_withdraw_authors.mail.metadata = dc.contributor.author

# Publication reinstate notify email
uclouvain.notify_reinstate_authors.mail.subject = [DIAL.pr] Publication réintégrée / Publication reinstated
uclouvain.notify_reinstate_authors.mail.metadata = dc.type.maintype
uclouvain.notify_reinstate_authors.mail.metadata = dc.title
uclouvain.notify_reinstate_authors.mail.metadata = dc.date.issued
uclouvain.notify_reinstate_authors.mail.metadata = dc.contributor.author

# Dissertation deposit email
uclouvain.dissertation_notify_deposit.mail.subject = [DIAL.pr] Dépôt de thèse / Dissertation deposit
uclouvain.dissertation_notify_deposit.mail.metadata = dc.title
uclouvain.dissertation_notify_deposit.mail.metadata = dc.date.issued
uclouvain.dissertation_notify_deposit.mail.metadata = dc.contributor.author
uclouvain.dissertation_notify_deposit.mail.metadata = dc.contributor.advisor
uclouvain.dissertation_notify_deposit.mail.metadata = dc.description.abstract
# Can override CC-adresses using the following syntax:
# uclouvain.dissertation_notify_deposit.mail.additional-cc-addresses = manager@uclouvain.be

# Dissertation archive email
uclouvain.dissertation_notify_archive.mail.subject = [DIAL.pr] Thèse validée / Dissertation validated
uclouvain.dissertation_notify_archive.mail.metadata = dc.title
uclouvain.dissertation_notify_archive.mail.metadata = dc.date.issued
uclouvain.dissertation_notify_archive.mail.metadata = dc.contributor.author
uclouvain.dissertation_notify_archive.mail.metadata = dc.contributor.advisor
uclouvain.dissertation_notify_archive.mail.metadata = dc.description.abstract
# uclouvain.dissertation_notify_archive.mail.additional-cc-addresses = manager@uclouvain.be

#--------------------------------------------------------------#
#--------------- ESB Person Event Configuration ---------------#
#--------------------------------------------------------------#
uclouvain.person_event.rabbit.queue = person_event

#--------------------------------------------------------#
#--------------- ESB CLient Configuration ---------------#
#--------------------------------------------------------#
uclouvain.esb.base_url = https://gateway.api.uclouvain.be/qfmt
uclouvain.esb.secret = ${ESB_SECRET}