<Publication id="@virtual.id@">
    <Citation>@virtual.fnrsCitations.html.fwb@</Citation>
    <Handle>@virtual.handleLink@</Handle>
    <Category>@virtual.fnrsCategory@</Category>
    <Access>@dcterms.accessRights@</Access>
    <Issued>@dc.date.issued@</Issued>
</Publication>
