Id = itemid
Collection = itemcollection
Title = dc.title
Main type = dc.type.maintype
Subtype = dc.type.subtype
Language = dc.language.iso
Abstract = dc.description.abstract
Publication date = dc.date.issued
Authors = dc.contributor.author
Authors emails = authors.email
Authors fgs = authors.identifier.fgs 
Authors orcid = authors.identifier.orcid
Authors institution = authors.institution.code
Authors role = authors.role
Et.al = dc.contributor.etal
DOI = dc.identifier.doi
URI = dc.identifier.URI
Scopus ID = dc.identifier.scopus
WOS ID = dc.identifier.isi
Pubmed ID = dc.identifier.pmid
Arxiv = dc.identifier.arxiv
Keywords = dc.subject
Internal keywords = dc.subject.internal
Mesh keywords = dc.subject.mesh
Dissertation institution = dissertation.institution.name
Dissertation degree = dissertation.degree.name
Dissertation faculty = dissertation.faculty
Dissertation defense date = dissertation.defenseDate
Affiliation institution = oairecerif.affiliation.orgunit
Affiliation department = oairecerif.affiliation.orgunitDepartment
Journal = dc.relation.journal
Journal ISSN = publication.serial.issn
Journal E-ISSN = publication.serial.eissn
Journal volume = publication.serial.volume
Journal issue = publication.serial.issue
Journal pages = publication.serial.pages
Journal peer-reviewed = publication.serial.peerReviewed
Host document type = publication.host.type
Host document title = publication.host.title
Host edition statement = publication.host.editionStatement
Host document authors = publication.host.authors
Host document pages = publication.host.pages
Host document issued = publication.host.dateIssued
Host document ISBN = publication.host.isbn
Host document peer-reviewed = publication.host.peerReviewed
Conference name = publication.conference.name
Conference location = publication.conference.location
Conference start date = publication.conference.startDate
Conference end date = publication.conference.endDate
Editor name = publication.editor.name
Editor location = publication.editor.name
Collection name = publication.collection.name
Collection number = publication.collection.number
Collection issn = publication.collection.issn
Report organization name = publication.report.organization
Report ID = dc.identifier.reportID
Report period = publication.report.period
Patent deposit date = crispatent.deposit.date
Patent submitter = dc.contributor.submitter
Patent office = crispatent.patentOffice
Funding organization name = funding.organization
Funding program name = funding.program
Funding project name = funding.project
Funding Grant ID = funding.number