<Publication id="@virtual.id@">
    <Citation>@virtual.fnrsCitations.html.fwb@</Citation>
    <Handle>@virtual.handleLink@</Handle>
    <Category>@dc.type.maintype@</Category>
    <Access>@dcterms.accessRights@</Access>
    <Issued>@virtual.date.dc-date-issued.YYYY@</Issued>
</Publication>
